<header class="site-header">
    <div class="header-content">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/header-tree.png' | relative_url }}" alt=".glosa" class="header-icon">
        </a>
        <h1>.glosa | .surtos linguísticos</h1>
        <nav>
            <a href="{{ '/' | relative_url }}">Início</a>
            <a href="{{ '/producao-tecnica' | relative_url }}">Produção Técnica</a>
            <a href="https://github.com/eandrade-ling" target="_blank">GitHub</a>
        </nav>
    </div>
</header>
