<header class="site-header">
    <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/header-tree.png" alt="Logo .glosa lab" class="header-icon">
    </a>
    
    <div class="header-text">
        <h1>.glosa lab | .surtos linguísticos</h1>
    </div>
</header>

<nav>
    <a href="{{ site.baseurl }}/">/início</a>
    <a href="{{ site.baseurl }}/sobre">/.sobre</a>
    <a href="{{ site.baseurl }}/surtos">/.surtos</a>
    <a href="{{ site.baseurl }}/cadernos">/.cadernos</a>
    <a href="{{ site.baseurl }}/producao-tecnica">/.produção técnica</a>
</nav>
