<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/header-tree.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>.glosa lab | .surtos linguísticos</title>
</head>
<body>

    {% include header.html %}

    <main>
        {{ content }}
    </main>

    <footer>
        <nav>
            <a href="https://www.linkedin.com/in/ev-andrade" target="_blank">
                <i class="fa-brands fa-linkedin"></i> /linkedin
            </a>
            <a href="https://www.instagram.com/glosalabig/" target="_blank">
                <i class="fa-brands fa-instagram"></i> /instagram
            </a>
            <a href="https://twitter.com/glosalab" target="_blank">
                <i class="fa-brands fa-x-twitter"></i> /xuíter
            </a>
        </nav>
    </footer>

</body>
</html>
